---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="timeline">
     <div class="inner">
        <ul class="historyList" id="historyList">
          <li id="history-2023">
            <h3>2023</h3>
            <ul>
              <li><p>Launch a public testnet to attract users and organizations and further refine the MVP.</p></li>
              <li><p>Q1 of 2023 we aim to finish our last milestone of our W3F grant and have a MVP ready for further experimentation.</p></li>
            </ul>
          </li>
          <li id="history-2022">
            <h3>2022</h3>
            <ul>
              <li><p>W3F grants granted funding to our team to create a minimum viable product.</p></li>
              <li><p>Presented the Fair Squares idea at Amsterdot 2022.</p></li>
            </ul>
          </li>
          <li id="history-2021">
            <h3>2021</h3>
            <ul>
              <li><p>Participated in the Polkadot APAC Hackathon and built a simple POC of Fair Squares.</p></li>
              <li><p>Fair Squares light paper is written.</p></li>
            </ul>
          </li>
       </ul>
     </div> 
  </section>

  <section class="team">
      <div class="inner"> 
      <h3>Fair Squares Team</h3>   
      <ul>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Ilhan</p>
              <a class="linkedIn" href="https://nl.linkedin.com/in/ilhan-%C3%BCnl%C3%BC-blocklab" target="_blank"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Kazu </p>
            <a class="linkedIn" href="https://www.linkedin.com/in/kazunobu-ndong-469313170/"></a>
         </li>
         <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Mahir</p>
            <a class="linkedIn" href="https://www.linkedin.com/in/mahirozdemir/"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Stephen</p>
            <a class="linkedIn" href="https://www.linkedin.com/in/stephen-meyo-193109a/"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Thibaut</p>
            <a class="linkedIn" href="https://www.linkedin.com/in/thibautsegura/"></a>
          </li>
          <li>
            <img src="/assets/images/placeholder-person.png">
            <p>Oliver</p>
            <a class="linkedIn" href="https://www.linkedin.com/in/oliver-lim-2215a8235/"></a>
          </li>
        </ul>
     </div>
  </section> 

  <section class="collab contentBlock-light">
    <div class="inner">
      <h3>Our choice of technology</h3>
      <p>
      Substrate is the perfect framework for us to build our protocol on. It allows us full control over our runtime and the ability to customize it to our needs. 
      Furthermore it offers a lot of standardized building blocks in terms of governance,asset standards and interoperability we can use in the future. 
      </p>
      <p>
        This is ideal for us to further refine our protocol into a decentralized housing protocol. You can find more about our current development progress in our <a href="https://github.com/fair-squares/fair-squares/">Github Repo</a>.
        </p>
      <ul>
        <li><a class="btn charcoal" href="https://substrate.io/technology/flexible/" target="_blank">Why Substrate?</a></li>
      </ul>
    </div>
    </section>      
</main>
