---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="short-2col">
    <div class="inner">
      <div class="columns-2 page-content" >
        <p>More than half of the population in the (38) OECD countries finds there is not enough good and affordable housing available</p>
        <p>Around 40 million Europeans spend close to 40% of their disposable income on housing (Eurostat)</p>
      </div>
    </div>
  </div>
<div class="short-2col">
  <div class="inner">
    <div class="columns-2 page-content" >
      <p>Debt-driven value creation relates to income inequality.</p>
      <p>High entry barrier for investments and ownership, leading to more financial exclusivity</p>
    </div>
  </div>
</div>

  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <h3 class="intro-title">Learn more how Fair Squares is aiming to solve housing non-affordability</h3>
        <a href="/how" class="btn">Learn How</a>    
      </div>
    </div>
  </div>
</main>
