---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="short-2col">
    <div class="inner">
      <div class="columns-2 page-content" >
          <p>More than half of the population in the (38) OECD countries finds there is not enough good and affordable housing available.</p>
          <p>Around 80 million Europeans spend ~40% of their disposable income on housing. Housing non-affordability has many impacts on citizens. </p>
      </div>
    </div>
  </div>
<div class="short-2col">
  <div class="inner">
    <div class="columns-2 page-content" >
      <div><p>80 million Europeans spend  ~40% of their disposable income on housing.</p></div> <br>
      <div><p> Housing non-affordability has many impacts on citizens one the key ones is the consequences on health of citizens and our societies.</p></div>
    </div>
  </div>
  
</div>
  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <h3 class="intro-title">Learn more how Fair Squares is aiming to solve housing non-affordability</h3>
        <a href="/how" class="btn">Learn How</a>    
      </div>
    </div>
  </div>
</main>
