---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="short-2col">
    <div class="inner">
      <div class="columns-2">
        <p>The Fair Squares (FS) platform enables fractional ownership of real estate for future rental agreements.
          With FS, the housing market becomes more transparent, fair and accessible for tenants, co-owners and
          investors.

          At its core, FS is a community-agreed protocol that executes rental agreements with the houses that
          were invested in. This makes it possible to have affordable housing with a return on social investments.
        </p>
      </div>
    </div>
  </div>
  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <h3 class="intro-title">Fair Squares is founded to co-create a more transparent and fair housing market for tenants, co-owners and social investors.</h3>
        <a href="/how" class="btn">Learn How</a>    
      </div>
    </div>
  </div>
  {% comment %}
  <div class="inner">
      <ul class="feature-cards" style="height:500px;">
          <li>
            <h4>Headline 1</h4>
            <p>lorem ipsum</p>
          </li>
          <li>
          feature 2
        </li>
      </ul>
  </div>
  {% endcomment %}
</main>
