---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="contentBlock-light">
    <div class="inner">
        <h3>Fair Squares stops profit maximization on primary needs and democratizes access to them.</h3>
        <p>
          Via Fair Squares groups of individuals can pool their capital to crowd invest in a house that is for sale, with the aim of renting it out more socially. The persons that invested in a house will each own a share of the house and will receive a capped return on the rent.  

          Fair Squares enables this fractional home ownership for future rental agreements. 	 
          By capping the return on rents the result of this housing organization manner will be fair and accessible for more tenants.
          
          Fair Squares is a community-agreed protocol that executes rental agreements with the houses that were invested in. Fair Squares will calculate with a ROR (Return on Rent) of 3%, which makes it possible to decrease rents by at least 20%, compared to current mortgage constructions. In the meanwhile a small part of the rent incomes (..%) will be used to secure, maintain and improve the Fair Squares housing operating system. 
          
          Individuals (as part of a house community) can own, manage homes and new entrants can easily enter the rental market. The Fair Squares social crowd financing model allows the bundling of co-investors capital. In combination with transparent and democratic governance, Fair Squares facilitates stakeholders with the tools to create an ecosystem that will be self-sovereign within a permissioned public digital environment.  
          
            
        </p>
    
        <ul class="chart">
          <li class="heading"><h3>A new way to <span>organize housing</span></h3></li>      
          <li>
            <div>
              <h5>From maximum rent extraction</h5>
              <p>high monthly costs and nontransparent systems</p>
            </div>
          </li>
          <li>
            <div>
              <h5>To low, predictable rent and earnings</h5>
              <p>Costs stabilized and lowered via a new economic model and coordination with transparency about the cost-model</p>
            </div>
          </li>
          <li>
            <div>
              <h5>For big corp. and wealthy investors only</h5>
              <p>For housing their is a high capital requirement you don't get to play along when loaded with capital</p>
            </div>  
          </li>
          <li>
            <div>
              <h5>Lowering access barrier to real estate</h5>
              <p>We want to allow to full ownership of an asset with a much lower barrier to entry than the traditional way</p>
            </div>
          </li>
        </ul>

        <h4>Fair Squares opens up housing with a complete new coordination and financing model</h4>
        <p>
          We aim to serve mainly two key-stakeholders, the investors and tenants. 
          They will be in a direct relationship in terms of return vs.cost. 
          We call it the return-on-rent parameter for the investment. 
          When investors agree to a return of 3-4% annually this makes it for the tenants 15-25% cheaper to rent based on current free market prices. 
          This is applied protocol-wide and is applied to the sale price of the asset. This return-on-rent parameter is a configurable constant. 
        </p>    
        <p>
          We have 5 main processes that the runtime will cover: financing, onboarding of assets, bidding, housing and payments. 
          This is all programmed to be a part within the on-chain coordination.
        </p>
        <p>
          We have incorporated on-chain curation for asset onboarding system where the community with real world proofs can decide whether an asset should be financed or not. 
          The bidding algorithm is focused on only bidding on houses that are available as long as it has the funds to do so and can also assemble a diverse enough investor set. 
        </p>
        <a href="https://docs.fair-squares.nl" class=".btn">Read our documentation for more info</a>   
    </div>
  </section>  
  <div class="intro-2">
    <div class="inner">
      <a href="https://docs.fair-squares.nl" class="btn">Read out docs for more info</a>    
    </div>
  </div>
</main>
