---
layout: default
---

{% include page-intro.html %}



<main id="main" class="page-content" aria-label="Content"> 
  <section class="contentBlock-light">
    <div class="inner">
      <h3 class="heading"><span>Fair Squares stops profit maximization on primary needs and democratizes access to them</span></h3>
        <p>
          <a href="https://docs.fair-squares.nl/docs/learn/design"> Here</a> you can find more detailed architectural information about the  Fair Squares design and processes.
        </p>
        <p>Fair Squares enables groups of individuals to pool their capital to crowd invest in a house with a direct and transparent relation to a social capped return on the rent. We start our public testnet with a social return on rent (ROR) of around 3%. </p>

        <p>
          Upfront and transparently capping the return on rents result in more measurable, fair and affordable houses for more tenants. This radical new, distributed fractional ownership organization makes it possible to decrease the rents by at least 20% compared to the “classical” mortgage constructions. A small part of the rent incomes will be channeled to secure, maintain and improve the Fair Squares housing operating system, which is eventually decided by the token holders.
        </p>
        <p>
          These social Fair Squares investors will each own a fractional share of the house. The community-agreed protocol executes rental agreements with the houses that were invested in.
        </p>

        <p>
          Individuals can co-own, manage homes and new entrants can enter the rental market significantly easier compared to the current, the winner takes it all era. In combination with a transparent and democratic governance, Fair Squares facilitates stakeholders with the tools to create an ecosystem that will be self-sovereign within a permissioned public digital environment.

        </p>

        <ul class="chart">
          <li class="heading"><h3>A new way to <span>organize housing</span></h3></li>      
          <li>
            <div>
              <h5>From maximum rent extraction</h5>
              <p>high monthly costs and nontransparent systems</p>
            </div>
          </li>
          <li>
            <div>
              <h5>To low, predictable rent and earnings</h5>
              <p>Costs stabilized and lowered via a new economic model and coordination with transparency about the cost-model</p>
            </div>
          </li>
          <li>
            <div>
              <h5>For big corp. and wealthy investors only</h5>
              <p>For housing their is a high capital requirement you don't get to play along when loaded with capital</p>
            </div>  
          </li>
          <li>
            <div>
              <h5>Lowering access barrier to real estate</h5>
              <p>We want to allow to full ownership of an asset with a much lower barrier to entry than the traditional way</p>
            </div>
          </li>
        </ul>

        <!-- <h4>Fair Squares opens up housing with a complete new coordination and financing model</h4>
        <p>
          We aim to serve mainly two key-stakeholders, the investors and tenants. 
          They will be in a direct relationship in terms of return vs.cost. 
          We call it the return-on-rent parameter for the investment. 
          When investors agree to a return of 3-4% annually this makes it for the tenants 15-25% cheaper to rent based on current free market prices. 
          This is applied protocol-wide and is applied to the sale price of the asset. This return-on-rent parameter is a configurable constant. 
        </p>    
        <p>
          We have 5 main processes that the runtime will cover: financing, onboarding of assets, bidding, housing and payments. 
          This is all programmed to be a part within the on-chain coordination.
        </p>
        <p>
          We have incorporated on-chain curation for asset onboarding system where the community with real world proofs can decide whether an asset should be financed or not. 
          The bidding algorithm is focused on only bidding on houses that are available as long as it has the funds to do so and can also assemble a diverse enough investor set. 
        </p>
        <a href="https://docs.fair-squares.nl"> You can read more about how Fair squares works in in documentation website</a>    -->
    </div>
  </section>  
  <section class="contentBlock-video">
    <div class="inner">
      <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6l1n9SsK-yc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
  </section>

  <div class="intro-2">
    <div class="inner">
      <div class="sub-intro-text">
        <a href="/about" class="btn">Learn more about us</a>    
      </div>
    </div>
  </div>
</main>
